.panda-shop {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

.header {
    background-color: #5cdb95;
    padding: 20px;
    text-align: center;
}

.product {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.button {
    background-color: #06d6a0;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #3f721d;
}